<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>
<div class="jumbotron">
<% @products.each do |product| %>
  <div class="row">
    <div class="col-md-6"><%= image_tag(product.image_url) %></div>
    <div class="col-md-6">
       <h3><%= product.title %></h3>
       <%= sanitize product.description %>
       <div class="price_line">
         <span class="price"><%= number_to_currency(product.price) %></span> 
         <%= button_to 'Add to Cart', line_items_path(:product_id => product, :remote => true) %>
       </div>
    </div>
 <% end %>
 </div>
