<!DOCTYPE html>
<html>
<head>
  <title>Waltermitty</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle Navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button> 
    <a class="navbar-brand" href="#">All the purpose of life</a> 
  </div>

  <div class="navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li> <%= render @cart %></li>
    </ul> 
  </div> 
</div>
</nav>
<section id="content" class="container">
  <%= yield %>
</section>
<footer class="footer"></footer>
</body>
</html>
